#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]
server-id={{server_id|default('1')}}
auto_increment_increment={{auto_increment|default('1')}}
log-bin=mysql-bin
query_cache_type=1
query_cache_size=256M
query_cache_limit=32M
thread_cache_size=6
join_buffer_size=640M
max_allowed_packet=512M
max_heap_table_size=1024M
read_buffer_size=1024M
read_rnd_buffer_size=512M
bulk_insert_buffer_size=256M
log_error=/var/log/mysql/mysql_error.log
#general_log = on
#general_log_file = /var/log/mysql/mysql.log
log_error=/var/log/mysql/mysql_error.log
slow_query_log = on
slow_query_log_file = /var/log/mysql/mysql_slow.log
long_query_time = 15
binlog-format=ROW
wait_timeout=6000
net_write_timeout=6000
net_read_timeout=6000
connect_timeout=6000
log_bin_trust_function_creators=1
innodb_buffer_pool_load_at_startup=ON
innodb_buffer_pool_size = 6G
innodb_file_per_table = 1
innodb_doublewrite = 1
innodb_use_fallocate = 1
innodb_flush_method=O_DIRECT
innodb_buffer_pool_instances = 6
innodb_read_io_threads=4
innodb_write_io_threads=8
innodb_io_capacity=1000
innodb_io_capacity_max=5000
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
thread_cache=100
table_open_cache=4096
table_cache=4096
sort_buffer_size=256M
join_buffer_size=512M
read_rnd_buffer_size=32M
expire_logs_days=5
